nav.navbar {
    background-color: $header-background;

    .nav-item {
        &.active {
            text-decoration: underline;
        }
        
        .nav-link {
            color: $normal-text-color;
            transition: background-color $transition-duration $transition-timing-function;
            border-radius: 0.25rem;

            &:hover {
                background-color: $header-background-darker;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .dropdown button {
        border: none;
        background-color: $header-background;

        &:hover {
            background-color: $header-background-darker;    
        }

        &:focus {
            background-color: $header-background-darkest;
        }
    }
}