.navbar {
    background-color: $header-background;

    .nav-link {
        color: $normal-text-color;
        transition: background-color $transition-duration $transition-timing-function;
        border-radius: 0.25rem;

        &:hover {
            background-color: $header-background-darker;
        }

        &:focus {
            outline: none;
        }
    }

    .dropdown button {
        border: none;
        background-color: $header-background;

        &:hover {
            background-color: $header-background-darker;    
        }

        &:focus {
            background-color: $header-background-darkest;
            box-shadow: none;
        }
    }

    .dropdown-menu {
        min-width: 0;
        padding: 0;
    
        .dropdown-item {
            padding: 0.25rem 0.75rem;
            transition: background-color $transition-duration $transition-timing-function;
        
            &:hover {
                background-color: $header-background-darker; 
            }
        }
    }
}