// COLORS
// Header
$header-background: #f8f9fa;
$header-background-darker: #e6e6e6;
$header-background-darkest: #c9c9c9;

// List View
$listview-background-darker: $header-background-darker;
$listview-background-active: #007bff;

// Text
$normal-text-color: #212529;
$gray-text-color: #9b9b9b;
$error-text-color: #a00000;

// Transition
$transition-duration: 0.15s;
$transition-timing-function: ease-in-out;